<!-- esta sera la plantilla principal
tendra todas las cosas en comun de todas las paginas
como los estilos -->
<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Notes App</title>
    </head>
    <body>
        <p>Navigation</p> <!-- todas las vistas tendran una navegacion -->
        
        <!-- lo que va a cambiar estara por aqui -->

        {{{ body }}} <!--- las tres llaves es sintaxis de hbs. Decimos que lo que va a cambiar esta aqui en body -->
        
        <p>Footer</p> <!-- todas las vistas tendran un footer -->
    </body>
</html>
